.formfield {
    width: 100%;
  }
.listDiv {
  width:125px; 
  word-wrap: break-word;
  border: 1px solid #000000;
}
.mat-header-cell {
    color: rgba(0,0,0,6.54);
    font-weight: bold;
}
.mat-icon{
  margin-right: 39px;
}
.AddButton{
  color: white;
  background-color: darkblue;
  padding-top: 9px;
}