<label class="error-message"><span *ngIf="submitMessage">{{ submitMessage }}</span></label>
<div class="registration-form">
  <mat-form-field class="registration-field">
    <label>Username: </label>
    <input type="text" matInput name="username" class="username" [formControl]="username" required/>
    <mat-error *ngIf="username.invalid">{{getPasswordErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field class="registration-field">
    <label>Password:</label>
    <input type="password" matInput name="password" class="password" [formControl]="password" required/>
    <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field class="registration-field">
    <label>First Name: </label>
    <input type="text" matInput name="firstname" class="firstname" [formControl]="firstname" required/>
    <mat-error *ngIf="firstname.invalid">{{getFirstnameErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field class="registration-field">
    <label>Last Name: </label>
    <input type="text" matInput name="lastname" class="lastname" [formControl]="lastname" required/>
    <mat-error *ngIf="lastname.invalid">{{getLastnameErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field class="registration-field">
    <label>Role: </label>
    <input type="text" matInput name="role" class="role" [formControl]="role" required/>
    <mat-error *ngIf="role.invalid">{{getRoleErrorMessage()}}</mat-error>
  </mat-form-field>
  <div class="registration-btn">
    <button mat-raised-button (click)="registerSubmit()" color='primary'>Register</button>
  </div>
  
    <div class ="Cursor" (click)="Login()">Login User</div>
  
  </div>